$green-6: #52c41a;
$error-color: #f5222d;

//基础
$primary-color: #1890FF;

$heading-color: rgba(0, 0, 0, 0.85);
$text-color: rgba(0, 0, 0, 0.65);
$text-color-secondary: rgba(0, 0, 0, 0.45);
$disabled-color: rgba(0, 0, 0, 0.25);
$border-color-split: #e8e8e8;
$background-color-base: #f5f5f5;

$header-hover-bg: #ffffff;
$header-search-bd-color: #d9d9d9;
$header-avatar-container-bg: rgba(0, 0, 0, 0.15);
$header-avatar-bg: rgba(255, 255, 255, 0.85);

$content-bg: #ffffff;

$tag-default-bg: #fafafa;
$color: #ccc