$header-bg: #ffffff;
$header-logo-color: #1890ff;
$header-bg-menu: #ffffff;
$color-primary: #3ecacb;
$color-success: #4fc48d;
$color-warning: #f3d93f;
$color-danger: #f6588e;
$color-info: #27c6fa;
$header-bg-topmenu: #ffffff;
$header-hover-trigger-bg: #ffffff;
